# Before you start :
   - Keep in mind that you need to use some of the functions you learned in the previous lessons.
   - All datasets are provided in the IronHack database.
   - Elaborate your codes and outputs as much as you can.
   - Try your best to answer the questions and complete the tasks and most importantly enjoy the process!!!

#### Import all the libraries that are necessary

In [1]:
# import libraries here
import pandas as pd
import pymysql
from sqlalchemy import create_engine

# Challenge 1

#### In this challenge we will use the `Temp_States`  database. 

#### First import it into a data frame called `temp`.

In [4]:
# your answer here

ip = "35.239.232.23"
login = "ironhacker_read"
password = "ir0nhack3r"
db = "temp_states"

engine = create_engine(f'mysql+pymysql://{login}:{password}@{ip}/{db}')

In [5]:
temp = pd.read_sql_query('SELECT * FROM temp_states.temp_states', engine)

#### Print `temp`

In [6]:
temp

         City        State  Temperature
0         NYC     New York    19.444444
1      Albany     New York     9.444444
2     Buffalo     New York     3.333333
3    Hartford  Connecticut    17.222222
4  Bridgeport  Connecticut    14.444444
5      Treton   New Jersey    22.222222
6      Newark   New Jersey    20.000000

#### Explore the data types of the Temp dataframe. What type of data do we have? Comment your result.

In [8]:
# your answer here
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
City           7 non-null object
State          7 non-null object
Temperature    7 non-null float64
dtypes: float64(1), object(2)
memory usage: 248.0+ bytes

object, object, float64. Object for string, float64 for numbers

#### Select the rows where state is New York

In [13]:
# your answer here
temp.loc[temp['State'] == 'New York']

      City     State  Temperature
0      NYC  New York    19.444444
1   Albany  New York     9.444444
2  Buffalo  New York     3.333333

#### What is the average of the temperature of cities in New York?

In [14]:
# your answer here
temp.loc[temp['State'] == 'New York'].mean()

Temperature    10.740741
dtype: float64

#### We want to know cities and states with Temperature above 15 degress Celcius

In [17]:
# your answer here
temp.loc[temp['Temperature'] > 15]

       City        State  Temperature
0       NYC     New York    19.444444
3  Hartford  Connecticut    17.222222
5    Treton   New Jersey    22.222222
6    Newark   New Jersey    20.000000

#### Now, return only the cities that have a temperature above 15 degress Celcius

In [18]:
# your answer here
temp['City'].loc[temp['Temperature'] > 15]

0         NYC
3    Hartford
5      Treton
6      Newark
Name: City, dtype: object

#### We want to know which cities have a temperature above 15 degrees Celcius and below 20 degrees Celcius

*Hint: First write the condition then select the rows.*

In [19]:
# your answer here
temp.loc[temp['Temperature'].between(15, 20)]

       City        State  Temperature
0       NYC     New York    19.444444
3  Hartford  Connecticut    17.222222
6    Newark   New Jersey    20.000000

#### Find the mean and the standard deviation of the temperature of each state.

*Hint: Use functions from Data Manipulation lesson*

In [22]:
# your answer here
temp.groupby(by = 'State').mean()

             Temperature
State
Connecticut    15.833333
New Jersey     21.111111
New York       10.740741

# Challenge 2

#### Load the `employee` database into a DataFrame. Call the dataframe `employee`

In [25]:
# your answer here
ip = "35.239.232.23"
login = "ironhacker_read"
password = "ir0nhack3r"
db = "employees"

engine2 = create_engine(f'mysql+pymysql://{login}:{password}@{ip}/{db}')

In [26]:
employee = pd.read_sql_query('SELECT * FROM employees.employees', engine2)

#### Explore the data types of the Temp dataframe. Comment your results

In [27]:
# your answer here
employee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 7 columns):
Name          9 non-null object
Department    9 non-null object
Education     9 non-null object
Gender        9 non-null object
Title         9 non-null object
Years         9 non-null int64
Salary        9 non-null int64
dtypes: int64(2), object(5)
memory usage: 584.0+ bytes

In [28]:
employee

     Name Department Education Gender      Title  Years  Salary
0    Jose         IT  Bachelor      M    analyst      1      35
1   Maria         IT    Master      F    analyst      2      30
2   David         HR    Master      M    analyst      2      30
3   Sonia         HR  Bachelor      F    analyst      4      35
4  Samuel      Sales    Master      M  associate      3      55
5     Eva      Sales  Bachelor      F  associate      2      55
6  Carlos         IT    Master      M         VP      8      70
7   Pedro         IT       Phd      M  associate      7      60
8     Ana         HR    Master      F         VP      8      70

All strings are objects and all numeric values have float64 type

#### What's the average salary in this company?

In [29]:
# your answer here
employee['Salary'].mean()

48.888888888888886

#### What's the highest salary?

In [30]:
# your answer here
employee['Salary'].max()

70

#### What's the lowest salary?

In [31]:
# your answer here
employee['Salary'].min()

30

#### Who are the employees with the lowest salary?

In [32]:
# your answer here
employee.loc[employee['Salary'] == 30]

    Name Department Education Gender    Title  Years  Salary
1  Maria         IT    Master      F  analyst      2      30
2  David         HR    Master      M  analyst      2      30

#### Could you give all the information about an employee called David?

In [33]:
# your answer here
employee.loc[employee['Name'] == 'David']

    Name Department Education Gender    Title  Years  Salary
2  David         HR    Master      M  analyst      2      30

#### Could you give only David's salary?

In [36]:
# your answer here
employee['Salary'].loc[employee['Name'] == 'David']

2    30
Name: Salary, dtype: int64

In [40]:
employee[employee['Name'] == 'David'][['Salary']]

   Salary
2      30

#### Print all the rows where job title is associate

In [42]:
# your answer here
employee[employee['Title'] == 'associate']

     Name Department Education Gender      Title  Years  Salary
4  Samuel      Sales    Master      M  associate      3      55
5     Eva      Sales  Bachelor      F  associate      2      55
7   Pedro         IT       Phd      M  associate      7      60

#### Print the first 3 rows of your dataframe

##### Tip : There are 2 ways to do it. Do it both ways

In [43]:
# your answer here- 1 method
employee.head(3)

    Name Department Education Gender    Title  Years  Salary
0   Jose         IT  Bachelor      M  analyst      1      35
1  Maria         IT    Master      F  analyst      2      30
2  David         HR    Master      M  analyst      2      30

In [48]:
# your answer here- 2nd method
employee[:3]

    Name Department Education Gender    Title  Years  Salary
0   Jose         IT  Bachelor      M  analyst      1      35
1  Maria         IT    Master      F  analyst      2      30
2  David         HR    Master      M  analyst      2      30

#### Find the employees who's title is associate and the salary above 55?

In [64]:
# your answer here

employee.loc[(employee['Title'] == 'associate') & (employee['Salary'] > 50)]

     Name Department Education Gender      Title  Years  Salary
4  Samuel      Sales    Master      M  associate      3      55
5     Eva      Sales  Bachelor      F  associate      2      55
7   Pedro         IT       Phd      M  associate      7      60

In [61]:
employee[(employee['Title'] == 'associate') & (employee['Salary'] > 50)]

     Name Department Education Gender      Title  Years  Salary
4  Samuel      Sales    Master      M  associate      3      55
5     Eva      Sales  Bachelor      F  associate      2      55
7   Pedro         IT       Phd      M  associate      7      60

#### Group the employees based on their number of years of employment. What are the average salaries in each group?

In [66]:
# your answer here
employee.groupby(by = 'Years').mean()

          Salary
Years
1      35.000000
2      38.333333
3      55.000000
4      35.000000
7      60.000000
8      70.000000

####  What is the average Salary per title?

In [67]:
# your answer here
employee.groupby(by = 'Title').mean()

           Years     Salary
Title
VP          8.00  70.000000
analyst     2.25  32.500000
associate   4.00  56.666667

####  What are the Salary quartiles?

In [69]:
# print first quartile here
employee['Salary'].quantile(0.25)

35.0

In [70]:
# print third quartile here
employee['Salary'].quantile(0.75)

60.0

#### Is the mean salary per gender different?

In [75]:
# your answer here
employee.groupby(by = 'Gender').mean().drop(columns = ['Years'])

        Salary
Gender
F         47.5
M         50.0

Yes, but I don't know if that is significally different.

#### Find the minimum, mean and the maximum of all numeric columns for each Department.

In [81]:
# your answer here
employee.groupby(by = 'Department').describe()

           Salary                                                  Years  \
            count   mean        std   min    25%   50%   75%   max count
Department
HR            3.0  45.00  21.794495  30.0  32.50  35.0  52.5  70.0   3.0
IT            4.0  48.75  19.311050  30.0  33.75  47.5  62.5  70.0   4.0
Sales         2.0  55.00   0.000000  55.0  55.00  55.0  55.0  55.0   2.0


                mean       std  min   25%  50%   75%  max
Department
HR          4.666667  3.055050  2.0  3.00  4.0  6.00  8.0
IT          4.500000  3.511885  1.0  1.75  4.5  7.25  8.0
Sales       2.500000  0.707107  2.0  2.25  2.5  2.75  3.0

### Bonus Question

#### For each department, compute the difference between the maximal salary and the minimal salary.

##### * Hint: try using `agg` or `apply` and `lambda`*

In [108]:
# your answer here
employee['Salary'].groupby(employee['Department']).describe().apply(lambda x : (x['max'] - x['min']), axis = 1)

Department
HR       40.0
IT       40.0
Sales     0.0
dtype: float64

# Challenge 3

#### Open the Orders dataset. Name your dataset orders

In [97]:
# your answer here
ip = "35.239.232.23"
login = "ironhacker_read"
password = "ir0nhack3r"
db = "orders"

engine3 = create_engine(f'mysql+pymysql://{login}:{password}@{ip}/{db}')

In [98]:
orders = pd.read_sql_query('SELECT * FROM orders.orders', engine3)

#### Explore your dataset by looking at the data types and the summary statistics. Comment your results

In [99]:
# your answer here
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397924 entries, 0 to 397923
Data columns (total 14 columns):
index           397924 non-null int64
InvoiceNo       397924 non-null int64
StockCode       397924 non-null object
year            397924 non-null int64
month           397924 non-null int64
day             397924 non-null int64
hour            397924 non-null int64
Description     397924 non-null object
Quantity        397924 non-null int64
InvoiceDate     397924 non-null object
UnitPrice       397924 non-null float64
CustomerID      397924 non-null int64
Country         397924 non-null object
amount_spent    397924 non-null float64
dtypes: float64(2), int64(8), object(4)
memory usage: 42.5+ MB

In [101]:
# your answer here
orders.describe()

,index,InvoiceNo,year,month,day,hour,Quantity,UnitPrice,CustomerID,amount_spent
count,397924.000000,397924.000000,397924.000000,397924.000000,397924.000000,397924.000000,397924.000000,397924.000000,397924.000000,397924.000000
mean,198961.500000,560617.126645,2010.934259,7.612537,3.614555,12.728247,13.021823,3.116174,15294.315171,22.394749
std,114870.908595,13106.167695,0.247829,3.416527,1.928274,2.273535,180.420210,22.096788,1713.169877,309.055588
min,0.000000,536365.000000,2010.000000,1.000000,1.000000,6.000000,1.000000,0.000000,12346.000000,0.000000
25%,99480.750000,549234.000000,2011.000000,5.000000,2.000000,11.000000,2.000000,1.250000,13969.000000,4.680000
50%,198961.500000,561893.000000,2011.000000,8.000000,3.000000,13.000000,6.000000,1.950000,15159.000000,11.800000
75%,298442.250000,572090.000000,2011.000000,11.000000,5.000000,14.000000,12.000000,3.750000,16795.000000,19.800000
max,397923.000000,581587.000000,2011.000000,12.000000,7.000000,20.000000,80995.000000,8142.750000,18287.000000,168469.600000

In [109]:
orders.head()

,index,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

Almost 400.000 rows. Huge ammount of data. All spaces are fullfilled. Good types.

####  What is the average Purchase Price?

In [110]:
# your answer here
orders['UnitPrice'].mean()

3.116174480549152

#### What were the highest and lowest purchase prices?

In [111]:
# your answer here
orders['UnitPrice'].max()

8142.75

In [112]:
# your answer here
orders['UnitPrice'].min()

0.0

#### Select all the customers we have in Spain

In [124]:
# your answer here

orders[orders['Country'] == 'Spain']

,index,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
4250,4250,536944,22383,2010,12,5,12,lunch bag suki design,70,2010-12-03 12:20:00,1.65,12557,Spain,115.50
4251,4251,536944,22384,2010,12,5,12,lunch bag pink polkadot,100,2010-12-03 12:20:00,1.45,12557,Spain,145.00
4252,4252,536944,20727,2010,12,5,12,lunch bag black skull.,60,2010-12-03 12:20:00,1.65,12557,Spain,99.00
4253,4253,536944,20725,2010,12,5,12,lunch bag red retrospot,70,2010-12-03 12:20:00,1.65,12557,Spain,115.50
4254,4254,536944,20728,2010,12,5,12,lunch bag cars blue,100,2010-12-03 12:20:00,1.45,12557,Spain,145.00
13974,13974,538095,22504,2010,12,4,14,cabin bag vintage retrospot,1,2010-12-09 14:55:00,29.95,17097,Spain,29.95
13975,13975,538095,22212,2010,12,4,14,four hook white lovebirds,1,2010-12-09 14:55:00,2.10,17097,Spain,2.10
13976,13976,538095,22953,2010,12,4,14,birthday party cordon barrier tape,1,2010-12-09 14:55:00,1.25,17097,Spain,1.25
13977,13977,538095,84818,2010,12,4,14,danish rose photo frame,1,2010-12-09 14:55:00,2.55,17097,Spain,2.55
13978,13978,538095,21114,2010,12,4,14,lavender scented fabric heart,5,2010-12-09 14:55:00,1.25,17097,Spain,6.25
13979,13979,538095,84692,2010,12,4,14,box of 24 cocktail parasols,1,2010-12-09 14:55:00,0.42,17097,Spain,0.42
13980,13980,538095,22796,2010,12,4,14,photo frame 3 classic hanging,2,2010-12-09 14:55:00,9.95,17097,Spain,19.90
13981,13981,538095,40001,2010,12,4,14,white bamboo ribs lampshade,1,2010-12-09 14:55:00,0.85,17097,Spain,0.85
13982,13982,538095,22646,2010,12,4,14,ceramic strawberry cake money bank,1,2010-12-09 14:55:00,1.45,17097,Spain,1.45
13983,13983,538095,21883,2010,12,4,14,stars gift tape,2,2010-12-09 14:55:00,0.65,17097,Spain,1.30
13984,13984,538095,21879,2010,12,4,14,hearts gift tape,2,2010-12-09 14:55:00,0.65,17097,Spain,1.30
13985,13985,538095,22494,2010,12,4,14,emergency first aid tin,2,2010-12-09 14:55:00,1.25,17097,Spain,2.50
13986,13986,538095,47566,2010,12,4,14,party bunting,1,2010-12-09 14:55:00,4.65,17097,Spain,4.65
13987,13987,538095,85123A,2010,12,4,14,white hanging heart t-light holder,1,2010-12-09 14:55:00,2.95,17097,Spain,2.95
13988,13988,538095,21430,2010,12,4,14,set/3 red gingham rose storage box,1,2010-12-09 14:55:00,3.75,17097,Spain,3.75
13989,13989,538095,22914,2010,12,4,14,blue coat rack paris fashion,1,2010-12-09 14:55:00,4.95,17097,Spain,4.95
13990,13990,538095,22913,2010,12,4,14,red coat rack paris fashion,1,2010-12-09 14:55:00,4.95,17097,Spain,4.95
13991,13991,538095,22912,2010,12,4,14,yellow coat rack paris fashion,1,2010-12-09 14:55:00,4.95,17097,Spain,4.95
13992,13992,538095,22631,2010,12,4,14,circus parade lunch box,1,2010-12-09 14:55:00,1.95,17097,Spain,1.95
13993,13993,538095,22497,2010,12,4,14,set of 2 tins vintage bathroom,2,2010-12-09 14:55:00,4.25,17097,Spain,8.50
13994,13994,538095,22909,2010,12,4,14,set of 20 vintage christmas napkins,2,2010-12-09 14:55:00,0.85,17097,Spain,1.70
13995,13995,538095,22862,2010,12,4,14,love heart napkin box,1,2010-12-09 14:55:00,4.25,17097,Spain,4.25
13996,13996,538095,22726,2010,12,4,14,alarm clock bakelike green,2,2010-12-09 14:55:00,3.75,17097,Spain,7.50
13997,13997,538095,20828,2010,12,4,14,glitter butterfly clips,1,2010-12-09 14:55:00,2.55,17097,Spain,2.55
13998,13998,538095,20829,2010,12,4,14,glitter hanging butterfly string,1,2010-12-09 14:55:00,2.10,17097,Spain,2.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394708,394708,581193,23452,2011,12,3,17,heart mini portrait frame,2,2011-12-07 17:05:00,1.95,17097,Spain,3.90
394709,394709,581193,22907,2011,12,3,17,pack of 20 napkins pantry design,1,2011-12-07 17:05:00,0.85,17097,Spain,0.85
394710,394710,581193,22851,2011,12,3,17,set 20 napkins fairy cakes design,1,2011-12-07 17:05:00,0.85,17097,Spain,0.85
394711,394711,581193,23209,2011,12,3,17,lunch bag vintage doily,1,2011-12-07 17:05:00,1.65,17097,Spain,1.65
394712,394712,581193,22662,2011,12,3,17,lunch bag dolly girl design,1,2011-12-07 17:05:00,1.65,17097,Spain,1.65
394713,394713,581193,23583,2011,12,3,17,lunch bag paisley park,1,2011-12-07 17:05:00,1.65,17097,Spain,1.65
394714,394714,581193,22896,2011,12,3,17,peg bag apples design,1,2011-12-07 17:05:00,2.55,17097,Spain,2.55
394715,394715,581193,23203,2011,12,3,17,jumbo bag vintage doily,1,2011-12-07 17:05:00,2.08,17097,Spain,2.08
394716,394716,581193,22393,2011,12,3,17,paperweight vintage collage,2,2011-12-07 17:05:00,0.39,17097,Spain,0.78
394717,394717,581193,22391,2011,12,3,17,paperweight home sweet home,2,2011-12-07 17:05:00,0.39,17097,Spain,0.78
394718,394718,581193,23454,2011,12,3,17,three mini hanging frames,1,2011-12-07 17:05:00,4.15,17097,Spain,4.15
394719,394719,581193,84536A,2011,12,3,17,english rose notebook a7 size,2,2011-12-07 17:05:00,0.42,17097,Spain,0.84
394720,394720,581193,84535B,2011,12,3,17,fairy cakes notebook a6 size,2,2011-12-07 17:05:00,0.65,17097,Spain,1.30
394721,394721,581193,22755,2011,12,3,17,small purple babushka notebook,1,2011-12-07 17:05:00,0.21,17097,Spain,0.21
394722,394722,581193,22753,2011,12,3,17,small yellow babushka notebook,1,2011-12-07 17:05:00,0.21,17097,Spain,0.21
394723,394723,581193,22754,2011,12,3,17,small red babushka notebook,1,2011-12-07 17:05:00,0.21,17097,Spain,0.21
394724,394724,581193,23372,2011,12,3,17,set 36 colour pencils dolly girl,1,2011-12-07 17:05:00,1.25,17097,Spain,1.25
394725,394725,581193,23371,2011,12,3,17,set 36 colour pencils spaceboy,1,2011-12-07 17:05:00,1.25,17097,Spain,1.25
394726,394726,581193,23254,2011,12,3,17,childrens cutlery dolly girl,1,2011-12-07 17:05:00,4.15,17097,Spain,4.15
394727,394727,581193,22326,2011,12,3,17,round snack boxes set of4 woodland,2,2011-12-07 17:05:00,2.95,17097,Spain,5.90
394728,394728,581193,22629,2011,12,3,17,spaceboy lunch box,1,2011-12-07 17:05:00,1.95,17097,Spain,1.95
394729,394729,581193,22631,2011,12,3,17,circus parade lunch box,1,2011-12-07 17:05:00,1.95,17097,Spain,1.95
394730,394730,581193,23290,2011,12,3,17,spaceboy childrens bowl,2,2011-12-07 17:05:00,1.25,17097,Spain,2.50
394731,394731,581193,23289,2011,12,3,17,dolly girl childrens bowl,2,2011-12-07 17:05:00,1.25,17097,Spain,2.50
394732,394732,581193,23292,2011,12,3,17,spaceboy childrens cup,2,2011-12-07 17:05:00,1.25,17097,Spain,2.50
394733,394733,581193,23291,2011,12,3,17,dolly girl childrens cup,2,2011-12-07 17:05:00,1.25,17097,Spain,2.50
394734,394734,581193,85232D,2011,12,3,17,set/3 decoupage stacking tins,1,2011-12-07 17:05:00,4.95,17097,Spain,4.95
394735,394735,581193,22721,2011,12,3,17,set of 3 cake tins sketchbook,2,2011-12-07 17:05:00,1.95,17097,Spain,3.90
394736,394736,581193,23241,2011,12,3,17,treasure tin gymkhana design,1,2011-12-07 17:05:00,2.08,17097,Spain,2.08
394737,394737,581193,23247,2011,12,3,17,biscuit tin 50 s christmas,1,2011-12-07 17:05:00,2.89,17097,Spain,2.89

In [148]:
orders[orders['Country'] == 'Spain'].groupby('CustomerID').count()

,index,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,Country,amount_spent
CustomerID,,,,,,,,,,,,,
12354,58,58,58,58,58,58,58,58,58,58,58,58,58
12417,23,23,23,23,23,23,23,23,23,23,23,23,23
12421,45,45,45,45,45,45,45,45,45,45,45,45,45
12442,12,12,12,12,12,12,12,12,12,12,12,12,12
12445,4,4,4,4,4,4,4,4,4,4,4,4,4
12448,22,22,22,22,22,22,22,22,22,22,22,22,22
12450,8,8,8,8,8,8,8,8,8,8,8,8,8
12454,15,15,15,15,15,15,15,15,15,15,15,15,15
12455,48,48,48,48,48,48,48,48,48,48,48,48,48
12462,62,62,62,62,62,62,62,62,62,62,62,62,62
12484,346,346,346,346,346,346,346,346,346,346,346,346,346
12502,147,147,147,147,147,147,147,147,147,147,147,147,147
12507,22,22,22,22,22,22,22,22,22,22,22,22,22
12510,33,33,33,33,33,33,33,33,33,33,33,33,33
12538,21,21,21,21,21,21,21,21,21,21,21,21,21
12539,273,273,273,273,273,273,273,273,273,273,273,273,273
12540,478,478,478,478,478,478,478,478,478,478,478,478,478
12541,52,52,52,52,52,52,52,52,52,52,52,52,52
12544,19,19,19,19,19,19,19,19,19,19,19,19,19
12545,50,50,50,50,50,50,50,50,50,50,50,50,50
12546,69,69,69,69,69,69,69,69,69,69,69,69,69
12547,8,8,8,8,8,8,8,8,8,8,8,8,8
12548,5,5,5,5,5,5,5,5,5,5,5,5,5
12550,57,57,57,57,57,57,57,57,57,57,57,57,57
12551,10,10,10,10,10,10,10,10,10,10,10,10,10
12556,121,121,121,121,121,121,121,121,121,121,121,121,121
12557,33,33,33,33,33,33,33,33,33,33,33,33,33
12596,27,27,27,27,27,27,27,27,27,27,27,27,27
12597,206,206,206,206,206,206,206,206,206,206,206,206,206
17097,211,211,211,211,211,211,211,211,211,211,211,211,211

#### How many customers do we have in Spain?
##### Hint : Use value_counts() method

In [119]:
# your answer here
(orders['Country'] == 'Spain').value_counts()

False    395439
True       2485
Name: Country, dtype: int64

In [149]:
orders[orders['Country'] == 'Spain'].groupby('CustomerID').count().count()

index           30
InvoiceNo       30
StockCode       30
year            30
month           30
day             30
hour            30
Description     30
Quantity        30
InvoiceDate     30
UnitPrice       30
Country         30
amount_spent    30
dtype: int64

In [122]:
orders['Country'].value_counts()

United Kingdom          354345
Germany                   9042
France                    8342
EIRE                      7238
Spain                     2485
Netherlands               2363
Belgium                   2031
Switzerland               1842
Portugal                  1462
Australia                 1185
Norway                    1072
Italy                      758
Channel Islands            748
Finland                    685
Cyprus                     614
Sweden                     451
Austria                    398
Denmark                    380
Poland                     330
Japan                      321
Israel                     248
Unspecified                244
Singapore                  222
Iceland                    182
USA                        179
Canada                     151
Greece                     145
Malta                      112
United Arab Emirates        68
European Community          60
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              25
Bahrain                     17
Saudi Arabia                 9
Name: Country, dtype: int64

#### Select all the customers who have bought more than 50 items ?

In [162]:
# your answer here
orders2 = orders.groupby('CustomerID').sum()
orders2.loc[orders2['Quantity'] > 50]

,index,InvoiceNo,year,month,day,hour,Quantity,UnitPrice,amount_spent
CustomerID,,,,,,,,,
12346,37126,541431,2011,1,2,10,74215,1.04,77183.60
12347,30294108,101296926,365971,1383,441,2219,2458,481.21,4310.00
12348,1900064,16869685,62324,257,111,472,2341,178.71,1797.24
12349,26148016,42165457,146803,803,73,657,631,605.10,1757.55
12350,838678,9231629,34187,34,51,272,197,65.30,334.40
12352,15633406,47523155,170935,552,243,1193,536,1354.11,2506.04
12354,6561395,31952838,116638,232,232,754,530,261.22,1079.40
12355,1616966,7181837,26143,65,13,169,240,54.65,459.40
12356,4163546,32183405,118649,142,185,592,1591,188.87,2811.43
12357,42865034,75290940,263441,1441,917,2096,2708,438.67,6207.67
12358,4937237,10785108,38209,168,52,190,248,157.21,1168.06
12359,41714856,138190725,498728,1508,783,3136,1622,2137.86,6372.58
12360,28649592,72720480,259419,1005,303,1515,1165,457.91,2662.06
12361,652855,5450170,20110,20,50,130,91,33.35,189.90
12362,64725795,150505851,534926,2189,944,3192,2229,1048.29,5226.23
12363,3177433,12742621,46253,120,23,278,408,53.17,552.00
12364,25119313,48585756,170935,834,467,1142,1506,162.37,1313.10
12365,1347137,11980632,44242,44,22,287,174,377.31,641.38
12367,4282289,6387876,22121,132,11,176,173,35.20,168.90
12370,13714934,91269866,335746,1516,482,2036,2353,467.65,3545.69
12371,17845196,35945072,126693,630,127,630,591,244.08,1887.96
12372,6977239,28780365,104572,252,169,586,794,156.07,1298.04
12373,673491,7600418,28154,28,28,182,197,64.15,364.60
12374,11370744,19019385,66363,363,33,495,342,139.25,742.93
12375,4770972,9694349,34187,165,67,214,178,117.52,457.50
12377,2601629,41645908,154804,550,213,897,944,209.35,1628.12
12378,43978923,123088074,440409,1752,438,2190,2529,656.44,4008.62
12379,8267480,22499700,80440,300,80,520,407,114.65,852.24
12380,25157047,58857949,209144,885,384,1240,1127,351.38,2724.81
12381,21526907,49313176,174957,776,434,876,808,407.44,1845.31
...,...,...,...,...,...,...,...,...,...
18240,1816143,3434772,12066,60,6,78,126,23.57,422.58
18241,21908749,58515464,209144,800,308,1190,1051,338.39,2073.09
18242,17183240,43978085,156858,598,259,1005,1017,255.83,2232.49
18245,32945226,97811122,351898,1393,724,2189,1788,452.27,2567.06
18246,919692,2254900,8044,30,12,48,166,18.84,596.10
18248,8132102,26249884,94517,320,66,554,511,192.97,804.02
18249,2899348,4624464,16088,88,16,120,128,12.83,95.34
18250,1029882,11403210,42231,42,63,273,199,79.92,349.27
18251,3861480,9065520,32176,144,32,240,7824,12.35,4314.72
18252,28778038,56018313,197078,968,386,1173,239,306.65,526.67
18255,1422027,3397590,12066,54,42,78,74,10.30,103.30
18257,23583820,66233488,237298,853,280,1536,1041,401.63,2337.63
18259,10047478,23741242,84455,427,133,553,714,136.90,2338.60
18260,12248662,73457520,269463,577,436,1616,1478,469.94,2643.20
18261,5311314,11920593,42231,195,39,225,146,64.74,324.24
18262,2497417,7293130,26143,91,65,208,182,14.60,149.48
18263,12211147,34221932,122671,446,211,609,1468,58.53,1213.16
18265,9520509,25875283,92506,356,80,673,311,241.34,801.51
18269,84427,3764719,14070,84,21,91,76,22.15,168.60
18270,2311668,6178283,22121,81,37,138,101,40.40,283.15
18272,35180806,93342091,333826,1221,509,2107,2050,380.91,3078.58
18273,713641,1694459,6033,24,11,35,80,7.65,204.00
18274,3666938,6330335,22121,121,33,187,88,40.39,175.92
18276,4311909,8021860,28154,140,56,140,186,34.75,335.86
18277,2284580,4566872,16088,80,24,120,68,25.13,110.38
18278,2338623,5116428,18099,81,18,99,66,29.55,173.90
18281,1088605,3895248,14077,42,49,70,54,39.36,80.82
18282,3348241,6838540,24132,116,60,146,103,62.39,178.05
18283,168456864,425704048,1520316,5503,2489,10346,1397,1220.93,2094.88
18287,15723970,39474556,140770,555,332,697,1586,104.55,1837.28

#### Select orders from Spain that are above 50 items

In [167]:
# your answer here
orders[orders['Country'] == 'Spain'].loc[orders['Quantity'] > 50]

,index,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
4250,4250,536944,22383,2010,12,5,12,lunch bag suki design,70,2010-12-03 12:20:00,1.65,12557,Spain,115.50
4251,4251,536944,22384,2010,12,5,12,lunch bag pink polkadot,100,2010-12-03 12:20:00,1.45,12557,Spain,145.00
4252,4252,536944,20727,2010,12,5,12,lunch bag black skull.,60,2010-12-03 12:20:00,1.65,12557,Spain,99.00
4253,4253,536944,20725,2010,12,5,12,lunch bag red retrospot,70,2010-12-03 12:20:00,1.65,12557,Spain,115.50
4254,4254,536944,20728,2010,12,5,12,lunch bag cars blue,100,2010-12-03 12:20:00,1.45,12557,Spain,145.00
32454,32454,540785,84997B,2011,1,2,11,red 3 piece retrospot cutlery set,144,2011-01-11 11:39:00,3.39,12557,Spain,488.16
32455,32455,540785,84997D,2011,1,2,11,pink 3 piece polkadot cutlery set,360,2011-01-11 11:39:00,3.39,12557,Spain,1220.40
32456,32456,540785,84997C,2011,1,2,11,blue 3 piece polkadot cutlery set,360,2011-01-11 11:39:00,3.39,12557,Spain,1220.40
32457,32457,540785,84997A,2011,1,2,11,green 3 piece polkadot cutlery set,144,2011-01-11 11:39:00,3.39,12557,Spain,488.16
91155,91155,547972,22383,2011,3,1,16,lunch bag suki design,150,2011-03-28 16:41:00,1.45,12557,Spain,217.50
91156,91156,547972,22384,2011,3,1,16,lunch bag pink polkadot,150,2011-03-28 16:41:00,1.45,12557,Spain,217.50
91159,91159,547972,20728,2011,3,1,16,lunch bag cars blue,150,2011-03-28 16:41:00,1.45,12557,Spain,217.50
174442,174442,558871,22384,2011,7,1,13,lunch bag pink polkadot,100,2011-07-04 13:19:00,1.45,12557,Spain,145.00
174443,174443,558871,20727,2011,7,1,13,lunch bag black skull.,100,2011-07-04 13:19:00,1.45,12557,Spain,145.00
174444,174444,558871,20725,2011,7,1,13,lunch bag red retrospot,100,2011-07-04 13:19:00,1.45,12557,Spain,145.00
174445,174445,558871,20728,2011,7,1,13,lunch bag cars blue,100,2011-07-04 13:19:00,1.45,12557,Spain,145.00
174446,174446,558871,84997B,2011,7,1,13,childrens cutlery retrospot red,72,2011-07-04 13:19:00,3.75,12557,Spain,270.00
174447,174447,558871,84997D,2011,7,1,13,childrens cutlery polkadot pink,360,2011-07-04 13:19:00,3.75,12557,Spain,1350.00
174448,174448,558871,84997C,2011,7,1,13,childrens cutlery polkadot blue,360,2011-07-04 13:19:00,3.75,12557,Spain,1350.00
174449,174449,558871,84997A,2011,7,1,13,childrens cutlery polkadot green,72,2011-07-04 13:19:00,3.75,12557,Spain,270.00
197167,197167,561669,23295,2011,7,4,17,set of 12 mini loaf baking cases,128,2011-07-28 17:09:00,0.72,12507,Spain,92.16
197168,197168,561669,23297,2011,7,4,17,set 40 heart shape petit four cases,144,2011-07-28 17:09:00,1.45,12507,Spain,208.80
197169,197169,561669,23294,2011,7,4,17,set of 6 snack loaf baking cases,128,2011-07-28 17:09:00,0.72,12507,Spain,92.16
197170,197170,561669,23296,2011,7,4,17,set of 6 tea time baking cases,128,2011-07-28 17:09:00,1.04,12507,Spain,133.12
197171,197171,561669,23293,2011,7,4,17,set of 12 fairy cake baking cases,128,2011-07-28 17:09:00,0.72,12507,Spain,92.16
224881,224881,564734,84826,2011,8,7,13,asstd design 3d paper stickers,60,2011-08-28 13:32:00,0.85,12484,Spain,51.00
254097,254097,567968,85204,2011,9,5,9,hanging wood and felt flower,96,2011-09-23 09:44:00,0.12,12546,Spain,11.52
289129,289129,571255,82494L,2011,10,5,17,wooden frame antique white,72,2011-10-14 17:13:00,2.55,12454,Spain,183.60
289134,289134,571255,82482,2011,10,5,17,wooden picture frame white finish,72,2011-10-14 17:13:00,2.55,12454,Spain,183.60
289142,289142,571255,72802B,2011,10,5,17,ocean scent candle in jewelled box,200,2011-10-14 17:13:00,1.25,12454,Spain,250.00
289143,289143,571255,72802C,2011,10,5,17,vanilla scent candle jewelled box,288,2011-10-14 17:13:00,1.25,12454,Spain,360.00
295956,295956,571851,23167,2011,10,3,13,small ceramic top storage jar,96,2011-10-19 13:02:00,0.69,12596,Spain,66.24
312655,312655,573362,22598,2011,10,7,13,christmas musical zinc tree,72,2011-10-30 13:06:00,0.29,12597,Spain,20.88
312656,312656,573362,22597,2011,10,7,13,musical zinc heart decoration,72,2011-10-30 13:06:00,0.29,12597,Spain,20.88
312657,312657,573362,22599,2011,10,7,13,christmas musical zinc star,72,2011-10-30 13:06:00,0.29,12597,Spain,20.88
366326,366326,578321,20728,2011,11,3,16,lunch bag cars blue,200,2011-11-23 16:59:00,1.45,12557,Spain,290.00
366327,366327,578321,84997B,2011,11,3,16,childrens cutlery retrospot red,72,2011-11-23 16:59:00,3.75,12557,Spain,270.00
366328,366328,578321,84997D,2011,11,3,16,childrens cutlery polkadot pink,360,2011-11-23 16:59:00,3.75,12557,Spain,1350.00
366329,366329,578321,84997C,2011,11,3,16,childrens cutlery polkadot blue,288,2011-11-23 16:59:00,3.75,12557,Spain,1080.00

#### Select all free orders

In [168]:
# your answer here
orders[orders['UnitPrice'] == 0]

,index,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
6914,6914,537197,22841,2010,12,7,14,round cake tin vintage green,1,2010-12-05 14:02:00,0.0,12647,Germany,0.0
22539,22539,539263,22580,2010,12,4,14,advent calendar gingham sack,4,2010-12-16 14:36:00,0.0,16560,United Kingdom,0.0
25379,25379,539722,22423,2010,12,2,13,regency cakestand 3 tier,10,2010-12-21 13:45:00,0.0,14911,EIRE,0.0
29080,29080,540372,22090,2011,1,4,16,paper bunting retrospot,24,2011-01-06 16:41:00,0.0,13081,United Kingdom,0.0
29082,29082,540372,22553,2011,1,4,16,plasters in tin skulls,24,2011-01-06 16:41:00,0.0,13081,United Kingdom,0.0
34494,34494,541109,22168,2011,1,4,15,organiser wood antique white,1,2011-01-13 15:10:00,0.0,15107,United Kingdom,0.0
53788,53788,543599,84535B,2011,2,4,13,fairy cakes notebook a6 size,16,2011-02-10 13:08:00,0.0,17560,United Kingdom,0.0
85671,85671,547417,22062,2011,3,3,10,ceramic bowl with love heart design,36,2011-03-23 10:25:00,0.0,13239,United Kingdom,0.0
92875,92875,548318,22055,2011,3,3,12,mini cake stand hanging strawbery,5,2011-03-30 12:45:00,0.0,13113,United Kingdom,0.0
97430,97430,548871,22162,2011,4,1,14,heart garland rustic padded,2,2011-04-04 14:42:00,0.0,14410,United Kingdom,0.0
107192,107192,550188,22636,2011,4,4,18,childs breakfast set circus parade,1,2011-04-14 18:57:00,0.0,12457,Switzerland,0.0
128641,128641,553000,47566,2011,5,4,15,party bunting,4,2011-05-12 15:21:00,0.0,17667,United Kingdom,0.0
137127,137127,554037,22619,2011,5,5,14,set of 6 soldier skittles,80,2011-05-20 14:13:00,0.0,12415,Australia,0.0
194648,194648,561284,22167,2011,7,2,12,oval wall mirror diamante,1,2011-07-26 12:24:00,0.0,16818,United Kingdom,0.0
197173,197173,561669,22960,2011,7,4,17,jam making set with jars,11,2011-07-28 17:09:00,0.0,12507,Spain,0.0
199711,199711,561916,M,2011,8,1,11,manual,1,2011-08-01 11:44:00,0.0,15581,United Kingdom,0.0
208950,208950,562973,23157,2011,8,4,11,set of 6 nativity magnets,240,2011-08-11 11:42:00,0.0,14911,EIRE,0.0
223931,223931,564651,23270,2011,8,5,14,set of 2 ceramic painted hearts,96,2011-08-26 14:19:00,0.0,14646,Netherlands,0.0
223932,223932,564651,23268,2011,8,5,14,set of 2 ceramic christmas reindeer,192,2011-08-26 14:19:00,0.0,14646,Netherlands,0.0
223933,223933,564651,22955,2011,8,5,14,36 foil star cake cases,144,2011-08-26 14:19:00,0.0,14646,Netherlands,0.0
223934,223934,564651,21786,2011,8,5,14,polkadot rain hat,144,2011-08-26 14:19:00,0.0,14646,Netherlands,0.0
256263,256263,568158,PADS,2011,9,7,12,pads to match all cushions,1,2011-09-25 12:22:00,0.0,16133,United Kingdom,0.0
259399,259399,568384,M,2011,9,2,9,manual,1,2011-09-27 09:46:00,0.0,12748,United Kingdom,0.0
273926,273926,569716,22778,2011,10,4,8,glass cloche small,2,2011-10-06 08:17:00,0.0,15804,United Kingdom,0.0
286507,286507,571035,M,2011,10,4,12,manual,1,2011-10-13 12:50:00,0.0,12446,RSA,0.0
307092,307092,572893,21208,2011,10,3,14,pastel colour honeycomb fan,5,2011-10-26 14:36:00,0.0,18059,United Kingdom,0.0
319882,319882,574138,23234,2011,11,4,11,biscuit tin vintage christmas,216,2011-11-03 11:26:00,0.0,12415,Australia,0.0
320049,320049,574175,22065,2011,11,4,11,christmas pudding trinket pot,12,2011-11-03 11:47:00,0.0,14110,United Kingdom,0.0
320407,320407,574252,M,2011,11,4,13,manual,1,2011-11-03 13:24:00,0.0,12437,France,0.0
322279,322279,574469,22385,2011,11,5,11,jumbo bag spaceboy design,12,2011-11-04 11:55:00,0.0,12431,Australia,0.0
328385,328385,574879,22625,2011,11,1,13,red kitchen scales,2,2011-11-07 13:22:00,0.0,13014,United Kingdom,0.0
329006,329006,574920,22899,2011,11,1,16,children s apron dolly girl,1,2011-11-07 16:34:00,0.0,13985,United Kingdom,0.0
329007,329007,574920,23480,2011,11,1,16,mini lights woodland mushrooms,1,2011-11-07 16:34:00,0.0,13985,United Kingdom,0.0
334242,334242,575579,22437,2011,11,4,11,set of 9 black skull balloons,20,2011-11-10 11:49:00,0.0,13081,United Kingdom,0.0
334243,334243,575579,22089,2011,11,4,11,paper bunting vintage paisley,24,2011-11-10 11:49:00,0.0,13081,United Kingdom,0.0
352746,352746,577129,22464,2011,11,4,19,hanging metal heart lantern,4,2011-11-17 19:52:00,0.0,15602,United Kingdom,0.0
353097,353097,577168,M,2011,11,5,10,manual,1,2011-11-18 10:42:00,0.0,12603,Germany,0.0
354170,354170,577314,23407,2011,11,5,13,set of 2 trays home sweet home,2,2011-11-18 13:23:00,0.0,12444,Norway,0.0
358629,358629,577696,M,2011,11,1,11,manual,1,2011-11-21 11:57:00,0.0,16406,United Kingdom,0.0
370473,370473,578841,84826,2011,11,5,15,asstd design 3d paper stickers,12540,2011-11-25 15:57:00,0.0,13256,United Kingdom,0.0

#### Select all orders that are 'lunch bag'
#### Hint: Use string functions

In [217]:
# your answer here

In [213]:
orders3 = orders.copy()

In [214]:
orders3 ['lunch bag'] = orders['Description'].str.contains('lunch bag', regex=False)

In [216]:
orders3[orders3['lunch bag'] == True]

,index,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent,lunch bag
93,93,536378,20725,2010,12,3,9,lunch bag red retrospot,10,2010-12-01 09:37:00,1.65,14688,United Kingdom,16.50,True
172,172,536385,22662,2010,12,3,9,lunch bag dolly girl design,10,2010-12-01 09:56:00,1.65,17420,United Kingdom,16.50,True
354,354,536401,22662,2010,12,3,11,lunch bag dolly girl design,1,2010-12-01 11:21:00,1.65,15862,United Kingdom,1.65,True
359,359,536401,20725,2010,12,3,11,lunch bag red retrospot,1,2010-12-01 11:21:00,1.65,15862,United Kingdom,1.65,True
360,360,536401,22382,2010,12,3,11,lunch bag spaceboy design,2,2010-12-01 11:21:00,1.65,15862,United Kingdom,3.30,True
361,361,536401,20726,2010,12,3,11,lunch bag woodland,1,2010-12-01 11:21:00,1.65,15862,United Kingdom,1.65,True
362,362,536401,22384,2010,12,3,11,lunch bag pink polkadot,1,2010-12-01 11:21:00,1.65,15862,United Kingdom,1.65,True
402,402,536404,22383,2010,12,3,11,lunch bag suki design,10,2010-12-01 11:29:00,1.65,16218,United Kingdom,16.50,True
403,403,536404,20728,2010,12,3,11,lunch bag cars blue,10,2010-12-01 11:29:00,1.65,16218,United Kingdom,16.50,True
404,404,536404,20727,2010,12,3,11,lunch bag black skull.,10,2010-12-01 11:29:00,1.65,16218,United Kingdom,16.50,True
532,532,536412,20728,2010,12,3,11,lunch bag cars blue,3,2010-12-01 11:49:00,1.65,17920,United Kingdom,4.95,True
533,533,536412,22382,2010,12,3,11,lunch bag spaceboy design,3,2010-12-01 11:49:00,1.65,17920,United Kingdom,4.95,True
535,535,536412,22662,2010,12,3,11,lunch bag dolly girl design,4,2010-12-01 11:49:00,1.65,17920,United Kingdom,6.60,True
536,536,536412,22383,2010,12,3,11,lunch bag suki design,3,2010-12-01 11:49:00,1.65,17920,United Kingdom,4.95,True
537,537,536412,20727,2010,12,3,11,lunch bag black skull.,3,2010-12-01 11:49:00,1.65,17920,United Kingdom,4.95,True
605,605,536412,20725,2010,12,3,11,lunch bag red retrospot,1,2010-12-01 11:49:00,1.65,17920,United Kingdom,1.65,True
1414,1414,536542,22382,2010,12,3,14,lunch bag spaceboy design,10,2010-12-01 14:11:00,1.65,16456,United Kingdom,16.50,True
1415,1415,536542,20727,2010,12,3,14,lunch bag black skull.,10,2010-12-01 14:11:00,1.65,16456,United Kingdom,16.50,True
1416,1416,536542,22383,2010,12,3,14,lunch bag suki design,20,2010-12-01 14:11:00,1.65,16456,United Kingdom,33.00,True
1748,1748,536576,20727,2010,12,3,16,lunch bag black skull.,60,2010-12-01 16:11:00,1.45,13777,United Kingdom,87.00,True
1758,1758,536577,20725,2010,12,3,16,lunch bag red retrospot,60,2010-12-01 16:13:00,1.45,13777,United Kingdom,87.00,True
1771,1771,536579,20727,2010,12,3,16,lunch bag black skull.,60,2010-12-01 16:16:00,1.45,13777,United Kingdom,87.00,True
1926,1926,536597,22384,2010,12,3,17,lunch bag pink polkadot,1,2010-12-01 17:35:00,1.65,18011,United Kingdom,1.65,True
1935,1935,536597,20726,2010,12,3,17,lunch bag woodland,1,2010-12-01 17:35:00,1.65,18011,United Kingdom,1.65,True
2334,2334,536634,20727,2010,12,4,11,lunch bag black skull.,20,2010-12-02 11:21:00,1.65,18041,United Kingdom,33.00,True
2529,2529,536643,22662,2010,12,4,11,lunch bag dolly girl design,2,2010-12-02 11:57:00,1.65,14390,United Kingdom,3.30,True
2676,2676,536698,22382,2010,12,4,12,lunch bag spaceboy design,10,2010-12-02 12:28:00,1.65,15363,United Kingdom,16.50,True
3059,3059,536754,22384,2010,12,4,14,lunch bag pink polkadot,3,2010-12-02 14:09:00,1.65,14449,United Kingdom,4.95,True
3060,3060,536754,20727,2010,12,4,14,lunch bag black skull.,3,2010-12-02 14:09:00,1.65,14449,United Kingdom,4.95,True
3064,3064,536754,22383,2010,12,4,14,lunch bag suki design,5,2010-12-02 14:09:00,1.65,14449,United Kingdom,8.25,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
396300,396300,581412,20726,2011,12,4,14,lunch bag woodland,2,2011-12-08 14:38:00,1.65,14415,United Kingdom,3.30,True
396301,396301,581412,20725,2011,12,4,14,lunch bag red retrospot,3,2011-12-08 14:38:00,1.65,14415,United Kingdom,4.95,True
396302,396302,581412,23583,2011,12,4,14,lunch bag paisley park,3,2011-12-08 14:38:00,1.65,14415,United Kingdom,4.95,True
396303,396303,581412,20727,2011,12,4,14,lunch bag black skull.,1,2011-12-08 14:38:00,1.65,14415,United Kingdom,1.65,True
396307,396307,581412,23583,2011,12,4,14,lunch bag paisley park,2,2011-12-08 14:38:00,1.65,14415,United Kingdom,3.30,True
396308,396308,581412,20727,2011,12,4,14,lunch bag black skull.,3,2011-12-08 14:38:00,1.65,14415,United Kingdom,4.95,True
396408,396408,581413,23208,2011,12,4,14,lunch bag vintage leaf design,10,2011-12-08 14:39:00,1.65,16833,United Kingdom,16.50,True
396414,396414,581413,22662,2011,12,4,14,lunch bag dolly girl design,10,2011-12-08 14:39:00,1.65,16833,United Kingdom,16.50,True
396416,396416,581413,22382,2011,12,4,14,lunch bag spaceboy design,10,2011-12-08 14:39:00,1.65,16833,United Kingdom,16.50,True
396419,396419,581413,20727,2011,12,4,14,lunch bag black skull.,10,2011-12-08 14:39:00,1.65,16833,United Kingdom,16.50,True
396530,396530,581418,23681,2011,12,4,15,lunch bag red vintage doily,10,2011-12-08 15:02:00,1.65,17451,United Kingdom,16.50,True
396572,396572,581420,23207,2011,12,4,15,lunch bag alphabet design,10,2011-12-08 15:09:00,1.65,16358,United Kingdom,16.50,True
396573,396573,581420,20726,2011,12,4,15,lunch bag woodland,10,2011-12-08 15:09:00,1.65,16358,United Kingdom,16.50,True
396574,396574,581420,23209,2011,12,4,15,lunch bag vintage doily,10,2011-12-08 15:09:00,1.65,16358,United Kingdom,16.50,True
396575,396575,581420,23208,2011,12,4,15,lunch bag vintage leaf design,10,2011-12-08 15:09:00,1.65,16358,United Kingdom,16.50,True
396576,396576,581420,22382,2011,12,4,15,lunch bag spaceboy design,10,2011-12-08 15:09:00,1.65,16358,United Kingdom,16.50,True
396721,396721,581426,23206,2011,12,4,15,lunch bag apple design,1,2011-12-08 15:31:00,1.65,17757,United Kingdom,1.65,True
396970,396970,581450,20725,2011,12,4,17,lunch bag red retrospot,1,2011-12-08 17:54:00,1.65,16794,United Kingdom,1.65,True
396971,396971,581450,23206,2011,12,4,17,lunch bag apple design,2,2011-12-08 17:54:00,1.65,16794,United Kingdom,3.30,True
396972,396972,581450,23209,2011,12,4,17,lunch bag vintage doily,4,2011-12-08 17:54:00,1.65,16794,United Kingdom,6.60,True
397006,397006,581451,23583,2011,12,4,17,lunch bag paisley park,10,2011-12-08 17:57:00,1.65,17144,United Kingdom,16.50,True
397038,397038,581453,22383,2011,12,4,18,lunch bag suki design,10,2011-12-08 18:15:00,1.65,16401,United Kingdom,16.50,True
397047,397047,581453,23583,2011,12,4,18,lunch bag paisley park,10,2011-12-08 18:15:00,1.65,16401,United Kingdom,16.50,True
397255,397255,581473,23207,2011,12,4,19,lunch bag alphabet design,2,2011-12-08 19:57:00,1.65,12748,United Kingdom,3.30,True
397298,397298,581474,20726,2011,12,4,20,lunch bag woodland,1,2011-12-08 20:01:00,1.65,12748,United Kingdom,1.65,True
397465,397465,581486,23207,2011,12,5,9,lunch bag alphabet design,10,2011-12-09 09:38:00,1.65,17001,United Kingdom,16.50,True
397713,397713,581538,20727,2011,12,5,11,lunch bag black skull.,1,2011-12-09 11:34:00,1.65,14446,United Kingdom,1.65,True
397714,397714,581538,20725,2011,12,5,11,lunch bag red retrospot,1,2011-12-09 11:34:00,1.65,14446,United Kingdom,1.65,True
397877,397877,581581,23681,2011,12,5,12,lunch bag red vintage doily,10,2011-12-09 12:20:00,1.65,17581,United Kingdom,16.50,True
397880,397880,581583,20725,2011,12,5,12,lunch bag red retrospot,40,2011-12-09 12:23:00,1.45,13777,United Kingdom,58.00,True

#### Select all orders that are made in 2011 and are 'lunch bag'

In [219]:
# your answer here
orders3[(orders3['lunch bag'] == True) & (orders3['year'] == 2011)]

,index,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent,lunch bag
26340,26340,540015,20725,2011,1,2,11,lunch bag red retrospot,10,2011-01-04 11:40:00,1.65,13319,United Kingdom,16.50,True
26341,26341,540015,20726,2011,1,2,11,lunch bag woodland,10,2011-01-04 11:40:00,1.65,13319,United Kingdom,16.50,True
26512,26512,540023,22382,2011,1,2,12,lunch bag spaceboy design,2,2011-01-04 12:58:00,1.65,15039,United Kingdom,3.30,True
26513,26513,540023,20726,2011,1,2,12,lunch bag woodland,1,2011-01-04 12:58:00,1.65,15039,United Kingdom,1.65,True
26860,26860,540098,22384,2011,1,2,15,lunch bag pink polkadot,1,2011-01-04 15:50:00,1.65,16241,United Kingdom,1.65,True
26861,26861,540098,22383,2011,1,2,15,lunch bag suki design,1,2011-01-04 15:50:00,1.65,16241,United Kingdom,1.65,True
26862,26862,540098,22382,2011,1,2,15,lunch bag spaceboy design,1,2011-01-04 15:50:00,1.65,16241,United Kingdom,1.65,True
26863,26863,540098,20727,2011,1,2,15,lunch bag black skull.,1,2011-01-04 15:50:00,1.65,16241,United Kingdom,1.65,True
26864,26864,540098,20727,2011,1,2,15,lunch bag black skull.,1,2011-01-04 15:50:00,1.65,16241,United Kingdom,1.65,True
26902,26902,540099,20725,2011,1,2,16,lunch bag red retrospot,10,2011-01-04 16:41:00,1.65,15808,United Kingdom,16.50,True
26903,26903,540099,20726,2011,1,2,16,lunch bag woodland,10,2011-01-04 16:41:00,1.65,15808,United Kingdom,16.50,True
27118,27118,540157,22384,2011,1,3,11,lunch bag pink polkadot,1,2011-01-05 11:41:00,1.65,15311,United Kingdom,1.65,True
27242,27242,540168,22383,2011,1,3,12,lunch bag suki design,10,2011-01-05 12:15:00,1.65,13715,United Kingdom,16.50,True
27360,27360,540176,22382,2011,1,3,12,lunch bag spaceboy design,100,2011-01-05 12:40:00,1.45,17511,United Kingdom,145.00,True
27361,27361,540176,20725,2011,1,3,12,lunch bag red retrospot,100,2011-01-05 12:40:00,1.45,17511,United Kingdom,145.00,True
27727,27727,540247,22383,2011,1,3,15,lunch bag suki design,1,2011-01-05 15:56:00,1.65,15464,United Kingdom,1.65,True
27758,27758,540247,20728,2011,1,3,15,lunch bag cars blue,2,2011-01-05 15:56:00,1.65,15464,United Kingdom,3.30,True
27760,27760,540247,22382,2011,1,3,15,lunch bag spaceboy design,3,2011-01-05 15:56:00,1.65,15464,United Kingdom,4.95,True
28100,28100,540268,20725,2011,1,4,11,lunch bag red retrospot,10,2011-01-06 11:25:00,1.65,13458,United Kingdom,16.50,True
28136,28136,540268,20726,2011,1,4,11,lunch bag woodland,10,2011-01-06 11:25:00,1.65,13458,United Kingdom,16.50,True
28137,28137,540268,20728,2011,1,4,11,lunch bag cars blue,10,2011-01-06 11:25:00,1.65,13458,United Kingdom,16.50,True
28138,28138,540268,22384,2011,1,4,11,lunch bag pink polkadot,10,2011-01-06 11:25:00,1.65,13458,United Kingdom,16.50,True
28183,28183,540275,20728,2011,1,4,12,lunch bag cars blue,30,2011-01-06 12:11:00,1.65,13680,United Kingdom,49.50,True
28188,28188,540275,20726,2011,1,4,12,lunch bag woodland,40,2011-01-06 12:11:00,1.65,13680,United Kingdom,66.00,True
28189,28189,540275,20727,2011,1,4,12,lunch bag black skull.,30,2011-01-06 12:11:00,1.65,13680,United Kingdom,49.50,True
28201,28201,540275,20725,2011,1,4,12,lunch bag red retrospot,100,2011-01-06 12:11:00,1.45,13680,United Kingdom,145.00,True
28218,28218,540276,20728,2011,1,4,12,lunch bag cars blue,30,2011-01-06 12:16:00,1.65,14680,United Kingdom,49.50,True
28219,28219,540276,20727,2011,1,4,12,lunch bag black skull.,30,2011-01-06 12:16:00,1.65,14680,United Kingdom,49.50,True
28220,28220,540276,20726,2011,1,4,12,lunch bag woodland,40,2011-01-06 12:16:00,1.65,14680,United Kingdom,66.00,True
28221,28221,540276,20725,2011,1,4,12,lunch bag red retrospot,100,2011-01-06 12:16:00,1.45,14680,United Kingdom,145.00,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
396300,396300,581412,20726,2011,12,4,14,lunch bag woodland,2,2011-12-08 14:38:00,1.65,14415,United Kingdom,3.30,True
396301,396301,581412,20725,2011,12,4,14,lunch bag red retrospot,3,2011-12-08 14:38:00,1.65,14415,United Kingdom,4.95,True
396302,396302,581412,23583,2011,12,4,14,lunch bag paisley park,3,2011-12-08 14:38:00,1.65,14415,United Kingdom,4.95,True
396303,396303,581412,20727,2011,12,4,14,lunch bag black skull.,1,2011-12-08 14:38:00,1.65,14415,United Kingdom,1.65,True
396307,396307,581412,23583,2011,12,4,14,lunch bag paisley park,2,2011-12-08 14:38:00,1.65,14415,United Kingdom,3.30,True
396308,396308,581412,20727,2011,12,4,14,lunch bag black skull.,3,2011-12-08 14:38:00,1.65,14415,United Kingdom,4.95,True
396408,396408,581413,23208,2011,12,4,14,lunch bag vintage leaf design,10,2011-12-08 14:39:00,1.65,16833,United Kingdom,16.50,True
396414,396414,581413,22662,2011,12,4,14,lunch bag dolly girl design,10,2011-12-08 14:39:00,1.65,16833,United Kingdom,16.50,True
396416,396416,581413,22382,2011,12,4,14,lunch bag spaceboy design,10,2011-12-08 14:39:00,1.65,16833,United Kingdom,16.50,True
396419,396419,581413,20727,2011,12,4,14,lunch bag black skull.,10,2011-12-08 14:39:00,1.65,16833,United Kingdom,16.50,True
396530,396530,581418,23681,2011,12,4,15,lunch bag red vintage doily,10,2011-12-08 15:02:00,1.65,17451,United Kingdom,16.50,True
396572,396572,581420,23207,2011,12,4,15,lunch bag alphabet design,10,2011-12-08 15:09:00,1.65,16358,United Kingdom,16.50,True
396573,396573,581420,20726,2011,12,4,15,lunch bag woodland,10,2011-12-08 15:09:00,1.65,16358,United Kingdom,16.50,True
396574,396574,581420,23209,2011,12,4,15,lunch bag vintage doily,10,2011-12-08 15:09:00,1.65,16358,United Kingdom,16.50,True
396575,396575,581420,23208,2011,12,4,15,lunch bag vintage leaf design,10,2011-12-08 15:09:00,1.65,16358,United Kingdom,16.50,True
396576,396576,581420,22382,2011,12,4,15,lunch bag spaceboy design,10,2011-12-08 15:09:00,1.65,16358,United Kingdom,16.50,True
396721,396721,581426,23206,2011,12,4,15,lunch bag apple design,1,2011-12-08 15:31:00,1.65,17757,United Kingdom,1.65,True
396970,396970,581450,20725,2011,12,4,17,lunch bag red retrospot,1,2011-12-08 17:54:00,1.65,16794,United Kingdom,1.65,True
396971,396971,581450,23206,2011,12,4,17,lunch bag apple design,2,2011-12-08 17:54:00,1.65,16794,United Kingdom,3.30,True
396972,396972,581450,23209,2011,12,4,17,lunch bag vintage doily,4,2011-12-08 17:54:00,1.65,16794,United Kingdom,6.60,True
397006,397006,581451,23583,2011,12,4,17,lunch bag paisley park,10,2011-12-08 17:57:00,1.65,17144,United Kingdom,16.50,True
397038,397038,581453,22383,2011,12,4,18,lunch bag suki design,10,2011-12-08 18:15:00,1.65,16401,United Kingdom,16.50,True
397047,397047,581453,23583,2011,12,4,18,lunch bag paisley park,10,2011-12-08 18:15:00,1.65,16401,United Kingdom,16.50,True
397255,397255,581473,23207,2011,12,4,19,lunch bag alphabet design,2,2011-12-08 19:57:00,1.65,12748,United Kingdom,3.30,True
397298,397298,581474,20726,2011,12,4,20,lunch bag woodland,1,2011-12-08 20:01:00,1.65,12748,United Kingdom,1.65,True
397465,397465,581486,23207,2011,12,5,9,lunch bag alphabet design,10,2011-12-09 09:38:00,1.65,17001,United Kingdom,16.50,True
397713,397713,581538,20727,2011,12,5,11,lunch bag black skull.,1,2011-12-09 11:34:00,1.65,14446,United Kingdom,1.65,True
397714,397714,581538,20725,2011,12,5,11,lunch bag red retrospot,1,2011-12-09 11:34:00,1.65,14446,United Kingdom,1.65,True
397877,397877,581581,23681,2011,12,5,12,lunch bag red vintage doily,10,2011-12-09 12:20:00,1.65,17581,United Kingdom,16.50,True
397880,397880,581583,20725,2011,12,5,12,lunch bag red retrospot,40,2011-12-09 12:23:00,1.45,13777,United Kingdom,58.00,True

#### Show the frequency distribution of the amount spent in Spain.

In [233]:
# your answer here
orders[orders['Country'] == 'Spain'].groupby(by = 'amount_spent').count()['index']

amount_spent
0.00        1
0.21        3
0.29        1
0.39        3
0.42        1
0.55        1
0.78        2
0.79        3
0.83        2
0.84        2
0.85        5
0.95        3
1.14        1
1.25       15
1.26        1
1.30        8
1.45        9
1.49        1
1.50        1
1.65       11
1.66        1
1.69        2
1.70        7
1.95        9
2.08       11
2.10        4
2.25        5
2.28        3
2.34        2
2.49        2
           ..
118.80      1
119.40      2
127.50      1
133.12      1
140.00      5
145.00      6
162.72      1
168.00      5
175.20      3
178.50      2
183.60      2
190.40      1
196.00      3
199.20      1
208.80      1
217.50      3
224.00      3
250.00      1
258.72      2
270.00      3
280.00      1
290.00      1
312.00      2
350.40      1
360.00      1
417.50      1
488.16      2
1080.00     1
1220.40     2
1350.00     3
Name: index, Length: 309, dtype: int64

#### Select all orders made in the month of August

In [186]:
# your answer here
orders[orders['month'] == 8]

,index,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
199475,199475,561904,22075,2011,8,1,8,6 ribbons elegant christmas,96,2011-08-01 08:30:00,1.45,17941,United Kingdom,139.20
199476,199476,561904,85049E,2011,8,1,8,scandinavian reds ribbons,156,2011-08-01 08:30:00,1.06,17941,United Kingdom,165.36
199477,199477,561905,21385,2011,8,1,9,ivory hanging decoration heart,24,2011-08-01 09:31:00,0.85,14947,United Kingdom,20.40
199478,199478,561905,84970L,2011,8,1,9,single heart zinc t-light holder,12,2011-08-01 09:31:00,0.95,14947,United Kingdom,11.40
199479,199479,561905,84970S,2011,8,1,9,hanging heart zinc t-light holder,12,2011-08-01 09:31:00,0.85,14947,United Kingdom,10.20
199480,199480,561905,84978,2011,8,1,9,hanging heart jar t-light holder,12,2011-08-01 09:31:00,1.25,14947,United Kingdom,15.00
199481,199481,561905,21754,2011,8,1,9,home building block word,3,2011-08-01 09:31:00,5.95,14947,United Kingdom,17.85
199482,199482,561905,23226,2011,8,1,9,filigree heart daisy white,24,2011-08-01 09:31:00,1.25,14947,United Kingdom,30.00
199483,199483,561905,21715,2011,8,1,9,girls vintage tin seaside bucket,8,2011-08-01 09:31:00,2.55,14947,United Kingdom,20.40
199484,199484,561905,21716,2011,8,1,9,boys vintage tin seaside bucket,8,2011-08-01 09:31:00,2.55,14947,United Kingdom,20.40
199485,199485,561905,21746,2011,8,1,9,small red retrospot windmill,12,2011-08-01 09:31:00,1.25,14947,United Kingdom,15.00
199486,199486,561905,21755,2011,8,1,9,love building block word,3,2011-08-01 09:31:00,5.95,14947,United Kingdom,17.85
199487,199487,561906,22367,2011,8,1,10,childrens apron spaceboy design,8,2011-08-01 10:03:00,1.95,12921,United Kingdom,15.60
199488,199488,561906,20914,2011,8,1,10,set/5 red retrospot lid glass bowls,6,2011-08-01 10:03:00,2.95,12921,United Kingdom,17.70
199489,199489,561906,21240,2011,8,1,10,blue polkadot cup,16,2011-08-01 10:03:00,0.85,12921,United Kingdom,13.60
199490,199490,561906,20725,2011,8,1,10,lunch bag red retrospot,20,2011-08-01 10:03:00,1.65,12921,United Kingdom,33.00
199491,199491,561906,20726,2011,8,1,10,lunch bag woodland,20,2011-08-01 10:03:00,1.65,12921,United Kingdom,33.00
199492,199492,561906,22382,2011,8,1,10,lunch bag spaceboy design,10,2011-08-01 10:03:00,1.65,12921,United Kingdom,16.50
199493,199493,561906,22629,2011,8,1,10,spaceboy lunch box,12,2011-08-01 10:03:00,1.95,12921,United Kingdom,23.40
199494,199494,561906,22384,2011,8,1,10,lunch bag pink polkadot,20,2011-08-01 10:03:00,1.65,12921,United Kingdom,33.00
199495,199495,561906,23206,2011,8,1,10,lunch bag apple design,20,2011-08-01 10:03:00,1.65,12921,United Kingdom,33.00
199496,199496,561906,23209,2011,8,1,10,lunch bag doiley pattern,20,2011-08-01 10:03:00,1.65,12921,United Kingdom,33.00
199497,199497,561906,22898,2011,8,1,10,childrens apron apples design,8,2011-08-01 10:03:00,1.95,12921,United Kingdom,15.60
199498,199498,561906,21035,2011,8,1,10,set/2 red retrospot tea towels,6,2011-08-01 10:03:00,3.25,12921,United Kingdom,19.50
199499,199499,561906,21217,2011,8,1,10,red retrospot round cake tins,6,2011-08-01 10:03:00,9.95,12921,United Kingdom,59.70
199500,199500,561906,21155,2011,8,1,10,red retrospot peg bag,6,2011-08-01 10:03:00,2.55,12921,United Kingdom,15.30
199501,199501,561906,21154,2011,8,1,10,red retrospot oven glove,10,2011-08-01 10:03:00,1.25,12921,United Kingdom,12.50
199502,199502,561906,21094,2011,8,1,10,set/6 red spotty paper plates,12,2011-08-01 10:03:00,0.85,12921,United Kingdom,10.20
199503,199503,561906,21080,2011,8,1,10,set/20 red retrospot paper napkins,12,2011-08-01 10:03:00,0.85,12921,United Kingdom,10.20
199504,199504,561906,84991,2011,8,1,10,60 teatime fairy cake cases,24,2011-08-01 10:03:00,0.55,12921,United Kingdom,13.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226458,226458,565067,85183B,2011,8,3,17,charlie & lola wastepaper bin flora,4,2011-08-31 17:16:00,1.25,15856,United Kingdom,5.00
226459,226459,565067,22065,2011,8,3,17,christmas pudding trinket pot,4,2011-08-31 17:16:00,1.45,15856,United Kingdom,5.80
226460,226460,565067,22900,2011,8,3,17,set 2 tea towels i love london,5,2011-08-31 17:16:00,3.25,15856,United Kingdom,16.25
226461,226461,565067,21508,2011,8,3,17,vintage kid dolly card,12,2011-08-31 17:16:00,0.42,15856,United Kingdom,5.04
226462,226462,565067,22713,2011,8,3,17,card i love london,12,2011-08-31 17:16:00,0.42,15856,United Kingdom,5.04
226463,226463,565067,22716,2011,8,3,17,card circus parade,12,2011-08-31 17:16:00,0.42,15856,United Kingdom,5.04
226464,226464,565067,21558,2011,8,3,17,skull lunch box with cutlery,1,2011-08-31 17:16:00,2.55,15856,United Kingdom,2.55
226465,226465,565067,22352,2011,8,3,17,lunch box with cutlery retrospot,1,2011-08-31 17:16:00,2.55,15856,United Kingdom,2.55
226466,226466,565067,84569A,2011,8,3,17,pack 3 iron on dog patches,6,2011-08-31 17:16:00,1.25,15856,United Kingdom,7.50
226467,226467,565067,84569D,2011,8,3,17,pack 6 heart/ice-cream patches,6,2011-08-31 17:16:00,1.25,15856,United Kingdom,7.50
226468,226468,565067,84559A,2011,8,3,17,3d sheet of dog stickers,3,2011-08-31 17:16:00,0.85,15856,United Kingdom,2.55
226469,226469,565067,84559B,2011,8,3,17,3d sheet of cat stickers,3,2011-08-31 17:16:00,0.85,15856,United Kingdom,2.55
226470,226470,565067,84558A,2011,8,3,17,3d dog picture playing cards,4,2011-08-31 17:16:00,2.95,15856,United Kingdom,11.80
226471,226471,565067,22189,2011,8,3,17,cream heart card holder,1,2011-08-31 17:16:00,3.95,15856,United Kingdom,3.95
226472,226472,565067,22188,2011,8,3,17,black heart card holder,1,2011-08-31 17:16:00,3.95,15856,United Kingdom,3.95
226473,226473,565067,22224,2011,8,3,17,white lovebird lantern,4,2011-08-31 17:16:00,2.95,15856,United Kingdom,11.80
226474,226474,565067,21248,2011,8,3,17,door hanger mum + dads room,3,2011-08-31 17:16:00,1.45,15856,United Kingdom,4.35
226475,226475,565067,22109,2011,8,3,17,full english breakfast plate,3,2011-08-31 17:16:00,3.75,15856,United Kingdom,11.25
226476,226476,565067,22107,2011,8,3,17,pizza plate in box,3,2011-08-31 17:16:00,3.75,15856,United Kingdom,11.25
226477,226477,565067,84519B,2011,8,3,17,carrot charlie+lola coaster set,3,2011-08-31 17:16:00,1.25,15856,United Kingdom,3.75
226478,226478,565067,21559,2011,8,3,17,strawberry lunch box with cutlery,2,2011-08-31 17:16:00,2.55,15856,United Kingdom,5.10
226479,226479,565067,22352,2011,8,3,17,lunch box with cutlery retrospot,1,2011-08-31 17:16:00,2.55,15856,United Kingdom,2.55
226480,226480,565067,21558,2011,8,3,17,skull lunch box with cutlery,1,2011-08-31 17:16:00,2.55,15856,United Kingdom,2.55
226481,226481,565067,22616,2011,8,3,17,pack of 12 london tissues,12,2011-08-31 17:16:00,0.29,15856,United Kingdom,3.48
226482,226482,565067,16048,2011,8,3,17,teatime round pencil sharpener,24,2011-08-31 17:16:00,0.12,15856,United Kingdom,2.88
226483,226483,565067,22644,2011,8,3,17,ceramic cherry cake money bank,2,2011-08-31 17:16:00,1.45,15856,United Kingdom,2.90
226484,226484,565067,22645,2011,8,3,17,ceramic heart fairy cake money bank,2,2011-08-31 17:16:00,1.45,15856,United Kingdom,2.90
226485,226485,565067,22637,2011,8,3,17,piggy bank retrospot,2,2011-08-31 17:16:00,2.55,15856,United Kingdom,5.10
226486,226486,565067,22646,2011,8,3,17,ceramic strawberry cake money bank,2,2011-08-31 17:16:00,1.45,15856,United Kingdom,2.90
226487,226487,565067,22741,2011,8,3,17,funky diva pen,48,2011-08-31 17:16:00,0.85,15856,United Kingdom,40.80

#### Select how many orders are made by countries in the month of August
##### Hint: Use value_counts()

In [234]:
# your answer here
orders.loc[orders['month'] == 8].groupby('Country').count()['index']

Country
Australia            107
Austria               88
Belgium              194
Canada                 5
Channel Islands      140
Denmark               16
EIRE                 593
Finland               61
France               569
Germany              795
Iceland               22
Israel               171
Italy                 95
Malta                 55
Netherlands          280
Norway                77
Poland                17
Portugal              41
Spain                252
Sweden                40
Switzerland          267
United Kingdom     23105
Unspecified           23
Name: index, dtype: int64

#### What's the  average amount of money spent by country

In [237]:
# your answer here
orders.groupby('Country').mean().sort_values(by = 'amount_spent', ascending = False)['amount_spent']

Country
Netherlands             120.798282
Australia               116.895620
Japan                   116.561900
Singapore                95.852658
Sweden                   85.096075
Denmark                  49.882474
Lithuania                47.458857
Lebanon                  37.641778
EIRE                     36.687745
Brazil                   35.737500
Norway                   33.736418
Czech Republic           33.069600
Finland                  32.913985
Greece                   32.831172
Bahrain                  32.258824
Switzerland              30.642752
Israel                   29.119718
United Arab Emirates     27.974706
Channel Islands          27.340160
Austria                  25.624824
Germany                  25.311562
France                   25.056827
Spain                    24.779521
Malta                    24.335625
Canada                   24.280662
Iceland                  23.681319
Italy                    23.064960
Portugal                 22.872702
Poland                   22.226212
Cyprus                   22.134169
European Community       21.670833
United Kingdom           20.625073
Belgium                  20.283772
USA                      20.002179
RSA                      17.281207
Saudi Arabia             16.213333
Unspecified              10.930615
Name: amount_spent, dtype: float64

#### What's the most expensive item?

In [191]:
# your answer here
orders.sort_values('UnitPrice', ascending=False).head(1)

,index,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
118352,118352,551697,POST,2011,5,2,13,postage,1,2011-05-03 13:46:00,8142.75,16029,United Kingdom,8142.75

#### What was the average amount spent per year ?

In [195]:
# your answer here

In [196]:
orders.groupby('year').mean()[['amount_spent']]

      amount_spent
year
2010     21.892733
2011     22.430074