# Subsetting and Descriptive Stats

## Before your start:
   - Remember that you just need to do one of the challenges.
   - Keep in mind that you need to use some of the functions you learned in the previous lessons.
   - All datasets are provided in IronHack's database.
   - Elaborate your codes and outputs as much as you can.
   - Try your best to answer the questions and complete the tasks and most importantly: enjoy the process!
   
#### Import all the necessary libraries here:

In [15]:
# import libraries here

import sqlalchemy
import numpy as np
import pandas as pd

# [ONLY ONE MANDATORY] Challenge 1
#### In this challenge we will use the `temp_states`  dataset. 

#### First import it into a dataframe called `temp`.

In [16]:
# your code here
# your code here
driver   = 'mysql+pymysql:'
user     = 'data-students'
password = 'iR0nH@cK-D4T4B4S3'
ip       = '34.65.10.136'
database = 'temp_states'

In [17]:
connection_string = f'{driver}//{user}:{password}@{ip}/{database}'
print(connection_string)

mysql+pymysql://data-students:iR0nH@cK-D4T4B4S3@34.65.10.136/temp_states

In [20]:
engine = sqlalchemy.create_engine(connection_string)
print(engine)

Engine(mysql+pymysql://data-students:***@34.65.10.136/temp_states)

In [ ]:
temp.head()

In [23]:
# LetÂ´s look at actors individually

pd.read_sql('SELECT * FROM temp_states;', engine)

OperationalError: (pymysql.err.OperationalError) (2003, "Can't connect to MySQL server on '34.65.10.136' ([Errno 51] Network is unreachable)")
(Background on this error at: http://sqlalche.me/e/e3q8)

In [ ]:
# Given my SQL is gettin an error, I will be importing teh data from a CSV

In [24]:
pwd

'/Users/anna/Desktop/Ironhack/Week_4/lab-subsetting-and-descriptive-stats/your-code'

In [30]:
temp_c = pd.read_csv('temp_states.csv')

#### Print `temp`.

In [32]:
# your code here
print(temp_c)

         City        State  Temperature
0         NYC     New York    19.444444
1      Albany     New York     9.444444
2     Buffalo     New York     3.333333
3    Hartford  Connecticut    17.222222
4  Bridgeport  Connecticut    14.444444
5      Treton   New Jersey    22.222222
6      Newark   New Jersey    20.000000

#### Explore the data types of the *temp* dataframe. What types of data do we have? Comment your result.

In [35]:
# your code here
temp_c.dtypes

City            object
State           object
Temperature    float64
dtype: object

In [ ]:
"""
The daata set showcases Cities within 3 States, and their respective temperatures.
"""

#### Select the rows where state is New York.

In [39]:
# your code here

ny= temp_c[temp_c['State']=='New York']
ny

      City     State  Temperature
0      NYC  New York    19.444444
1   Albany  New York     9.444444
2  Buffalo  New York     3.333333

#### What is the average temperature of cities in New York?

In [41]:
# your code here

ny['Temperature'].mean()

10.740740740740724

#### Which states and cities have a temperature above 15 degrees Celsius?

In [50]:
temp_c_a_15 = (temp_c['Temperature']>15)

temp_c_a_15

0     True
1    False
2    False
3     True
4    False
5     True
6     True
Name: Temperature, dtype: bool

In [51]:
temp_c[temp_c_a_15]

       City        State  Temperature
0       NYC     New York    19.444444
3  Hartford  Connecticut    17.222222
5    Treton   New Jersey    22.222222
6    Newark   New Jersey    20.000000

#### Now, return only the cities that have a temperature above 15 degrees Celsius.

In [61]:
# your code here
temp_c['City'][temp_c_a_15]

0         NYC
3    Hartford
5      Treton
6      Newark
Name: City, dtype: object

#### Which cities have a temperature above 15 degrees Celcius and below 20 degrees Celsius?

**Hint**: First, write the condition. Then, select the rows.

In [62]:
# your code here

temp_c_a_15_b_20 = (temp_c['Temperature']>15)&(temp_c['Temperature']<20)

temp_c_a_15_b_20

0     True
1    False
2    False
3     True
4    False
5    False
6    False
Name: Temperature, dtype: bool

In [63]:
temp_c['City'][temp_c_a_15_b_20]

0         NYC
3    Hartford
Name: City, dtype: object

#### Find the mean and standard deviation of the temperature of each state.

In [70]:
# This gets the mean for all the values
temp_c.mean()

Temperature    15.15873
dtype: float64

In [73]:
# your code here

temp_c.mean(axis = 1)

0    19.444444
1     9.444444
2     3.333333
3    17.222222
4    14.444444
5    22.222222
6    20.000000
dtype: float64

In [74]:
temp_c.groupby('State').mean()

             Temperature
State
Connecticut    15.833333
New Jersey     21.111111
New York       10.740741

# [ONLY ONE MANDATORY]  Challenge 2

#### Load the `employees` dataset into a dataframe. Call the dataframe `employees`.

In [76]:
# your code here

employees_c = pd.read_csv('employees.csv')
employees_c

     Name Department Education Gender      Title  Years  Salary
0    Jose         IT  Bachelor      M    analyst      1      35
1   Maria         IT    Master      F    analyst      2      30
2   David         HR    Master      M    analyst      2      30
3   Sonia         HR  Bachelor      F    analyst      4      35
4  Samuel      Sales    Master      M  associate      3      55
5     Eva      Sales  Bachelor      F  associate      2      55
6  Carlos         IT    Master      M         VP      8      70
7   Pedro         IT       Phd      M  associate      7      60
8     Ana         HR    Master      F         VP      8      70

#### Explore the data types of the `employees` dataframe. Comment your results.

In [78]:
# your code here

employees_c.dtypes

Name          object
Department    object
Education     object
Gender        object
Title         object
Years          int64
Salary         int64
dtype: object

In [ ]:
"""
The data set showcases Employees within a company, and their respective Years in the companies and salaries.
"""

#### What's the average salary in this company?

In [82]:
# your code here
employees_c['Salary'].mean()

48.888888888888886

#### What's the highest salary?

In [83]:
# your code here

employees_c['Salary'].max()

70

#### What's the lowest salary?

In [90]:
# your code here

min_salary = employees_c['Salary'].min()
min_salary

30

#### Who are the employees with the lowest salary?

In [91]:
min_salary_employees = (employees_c['Salary']==min_salary)
min_salary_employees

0    False
1     True
2     True
3    False
4    False
5    False
6    False
7    False
8    False
Name: Salary, dtype: bool

In [92]:
employees_c[min_salary_employees]

    Name Department Education Gender    Title  Years  Salary
1  Maria         IT    Master      F  analyst      2      30
2  David         HR    Master      M  analyst      2      30

#### Find all the information about an employee called David.

In [94]:
# your code here

David = (employees_c['Name']== 'David')
David

0    False
1    False
2     True
3    False
4    False
5    False
6    False
7    False
8    False
Name: Name, dtype: bool

In [96]:
employees_c[David]

    Name Department Education Gender    Title  Years  Salary
2  David         HR    Master      M  analyst      2      30

#### Could you return only David's salary?

In [97]:
# your code here
employees_c[David]['Salary']

2    30
Name: Salary, dtype: int64

#### Print all the rows where job title is associate.

In [99]:
# your code here
associate = (employees_c['Title']== 'associate')
associate

0    False
1    False
2    False
3    False
4     True
5     True
6    False
7     True
8    False
Name: Title, dtype: bool

In [100]:
employees_c[associate]

     Name Department Education Gender      Title  Years  Salary
4  Samuel      Sales    Master      M  associate      3      55
5     Eva      Sales  Bachelor      F  associate      2      55
7   Pedro         IT       Phd      M  associate      7      60

#### Print the first 3 rows of your dataframe.
**Tip**: There are 2 ways to do it. Do it both ways.

In [101]:
# Method 1
# your code here

employees_c.head(3)

    Name Department Education Gender    Title  Years  Salary
0   Jose         IT  Bachelor      M  analyst      1      35
1  Maria         IT    Master      F  analyst      2      30
2  David         HR    Master      M  analyst      2      30

In [102]:
# Method 2
# your code here

employees_c[0:3]

    Name Department Education Gender    Title  Years  Salary
0   Jose         IT  Bachelor      M  analyst      1      35
1  Maria         IT    Master      F  analyst      2      30
2  David         HR    Master      M  analyst      2      30

#### Find the employees whose title is associate and whose salary is above 55.

In [107]:
#(employees_c[associate])&(employees_c[salary_a_55])

In [110]:
associate_a_55 = (employees_c.Title == 'associate')&(employees_c.Salary > 55)

In [112]:
employees_c[associate_a_55]

    Name Department Education Gender      Title  Years  Salary
7  Pedro         IT       Phd      M  associate      7      60

#### Group the employees by number of years of employment. What are the average salaries in each group?

In [113]:
# your code here
employees_c.groupby('Years').mean()

          Salary
Years
1      35.000000
2      38.333333
3      55.000000
4      35.000000
7      60.000000
8      70.000000

####  What is the average salary per title?

In [116]:
# your code here
employees_c.groupby('Title').mean()

           Years     Salary
Title
VP          8.00  70.000000
analyst     2.25  32.500000
associate   4.00  56.666667

In [117]:
# if we want to exclusively look at the Salary column

employees_c.groupby('Title')['Salary'].mean()

Title
VP           70.000000
analyst      32.500000
associate    56.666667
Name: Salary, dtype: float64

####  Find the salary quartiles.

In [123]:
# your code here
employees_c['Salary'].quantile(0.25)

35.0

In [124]:
employees_c['Salary'].quantile(0.5)

55.0

In [125]:
employees_c['Salary'].quantile(0.75)

60.0

#### Is the mean salary different per gender?

In [126]:
# your code here
employees_c.groupby('Gender')['Salary'].mean()

Gender
F    47.5
M    50.0
Name: Salary, dtype: float64

#### Find the minimum, mean and maximum of all numeric columns for each company department.

In [128]:
# your code here
employees_c.groupby('Department').describe()

           Years                                                Salary         \
           count      mean       std  min   25%  50%   75%  max  count   mean
Department
HR           3.0  4.666667  3.055050  2.0  3.00  4.0  6.00  8.0    3.0  45.00
IT           4.0  4.500000  3.511885  1.0  1.75  4.5  7.25  8.0    4.0  48.75
Sales        2.0  2.500000  0.707107  2.0  2.25  2.5  2.75  3.0    2.0  55.00


                  std   min    25%   50%   75%   max
Department
HR          21.794495  30.0  32.50  35.0  52.5  70.0
IT          19.311050  30.0  33.75  47.5  62.5  70.0
Sales        0.000000  55.0  55.00  55.0  55.0  55.0

#### Bonus Question:  for each department, compute the difference between the maximum and the minimum salary.
**Hint**: try using `agg` or `apply` combined with `lambda` functions.

In [ ]:
# your code here

# [ONLY ONE MANDATORY] Challenge 3
#### Open the `orders` dataset. Name your dataset `orders`.

In [ ]:
# your code here

#### Explore your dataset by looking at the data types and summary statistics. Comment your results.

In [ ]:
# your code here

In [ ]:
"""
your comments here
"""

####  What is the average purchase price?

In [ ]:
# your code here

#### What are the highest and lowest purchase prices?

In [ ]:
# your code here

#### Select all the customers from Spain.
**Hint**: Remember that you are not asked to find orders from Spain but customers. A customer might have more than one order associated.

In [ ]:
# your code here

#### How many customers do we have in Spain?

In [ ]:
# your code here

#### Select all the customers who have bought more than 50 items.
**Hint**: Remember that you are not asked to find orders with more than 50 items but customers who bought more than 50 items. A customer with two orders of 30 items each should appear in the selection.

In [ ]:
# your code here

#### Select orders from Spain that include more than 50 items.

In [ ]:
# your code here

#### Select all free orders.

In [ ]:
# your code here

#### Select all orders whose description starts with `lunch bag`.
**Hint**: use string functions.

In [ ]:
# your code here

#### Select all `lunch bag` orders made in 2011.

In [ ]:
# your code here

#### Show the frequency distribution of the amount spent in Spain.

In [ ]:
# your code here

#### Select all orders made in the month of August.

In [ ]:
# your code here

#### Find the number of orders made by each country in the month of August.
**Hint**: Use value_counts().

In [ ]:
# your code here

#### What's the  average amount of money spent by country?

In [ ]:
# your code here

#### What's the most expensive item?

In [ ]:
# your code here

#### What is the average amount spent per year?

In [ ]:
# your code here